/* allmännt för allt */
@font-face {
    font-family: "inter";
    src: url("material/Inter.ttf");
}
body{
    font-family: "inter";
}
.getbarky{
    padding: 5px;
    background-color: #050505;
    border-radius: 5px;
    color: white;
    display: inline-block;
}
.graytext{
    color: #7f7f7f;
}
/* Header */
/* Main - text */
/* Anpassa till mobil */

/* Anpassa för surfplatta */

